@using WMarket.Models
@{
    ViewBag.Title = "Error";
    Tuple<MensajeError,Usuario> mError = ViewData["mError"] as Tuple<MensajeError, Usuario>;
}
<div id="Error">
    <h2>Error: @mError.Item1.Database</h2>
    <h4>Mensaje: @mError.Item1.Mensaje</h4>

    @using (Html.BeginForm("VolverError", "Shop", FormMethod.Post))
    {

        <form method="POST">
            @Html.ActionLink("Volver", "VolverError", mError)
        </form>
    }
</div>