@{
    ViewBag.Title = "Index";
}

@model List<WMarket.Models.Producto>

<h2>Tienda en Linea!</h2>

<div id="Productos">
    @foreach (var item in Model)
    {
        <label>@item.Nombre</label>
        <textarea>@item.Descripcion</textarea>
    }
</div>





