@using WMarket.Models
@{
    ViewBag.Title = "Error";
    MensajeError mError = ViewData["mError"] as MensajeError;
}
<div id="Error">
    <h2>Error: @mError.Database</h2>
    <h4>Mensaje: @mError.Mensaje</h4>

    @using (Html.BeginForm("VolverError", "Login", FormMethod.Post))
    {

        <form method="POST">
            @Html.ActionLink("Volver", "VolverError", mError)
        </form>
    }
</div>