@using WMarket.Models
@{
    ViewBag.Title = "Error";
    MensajeError mError = ViewData["mError"] as MensajeError;
}
<div id="Error">
    <label>Error</label>
    <h4>@mError.Mensaje</h4>

    @using (Html.BeginForm("VolverError", "Login", FormMethod.Post))
    {

        <form method="POST">
            @Html.ActionLink("Volver", "VolverError", mError)
        </form>
    }
</div>