
@{
    ViewBag.Title = "ErrorRegistro";
}

@{
    using (Html.BeginForm("Registro", "Login", FormMethod.Post))
    {
        <h2>Error</h2><br />
        <label>Ocurrió un error al conectarse con la base de datos</label><br />
        <input type="submit" value="Volver"/>
        }
    }

