
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<br />
<br />
<form method="POST">
    <input id="userId" type="text" placeholder="Usuario" /><br />
    <input id="userPass" type="password" placeholder="Contraseña" /><br />
    <br />
    <br />
    <a href="/Login/Registro">¿No estás registrado?</a>
    <input id="btnLogIn" type="submit" value="Ingresar" />
</form>
