@using WMarket.Models
@{
    ViewBag.Title = "Index";
    MensajeError mError = ViewData["mError"] as MensajeError;
}
<div id="Error" class="container">
    <label>Error:</label>
    <h4>@mError.Mensaje</h4>

    @using (Html.BeginForm("ErrorVolver", "Error", FormMethod.Post))
    {

        <form method="POST">
            @Html.ActionLink("Volver", "ErrorVolver", mError)
        </form>
    }
</div>

